<%= form_with model: @role do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @role.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
    <% @role.errors.full_messages_for(:url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% @role.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <% if @role.employer_id %>
    <%= form.hidden_field :employer_id %>
  <% else %>
    <div>
      <%= form.label :employer_id, "Employer" %><br>
      <%= form.collection_select :employer_id, Employer.all, :id, :name, { prompt: "Select an employer" } %>
      <% @role.errors.full_messages_for(:employer).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>