<h1><%= @role.title %></h1>
<p>
  <a href=<%= @role.url %>  target="_blank">
    See this role
  </a>
</p>
<p>Location: <%= @role.location %>
<p>Description: <%= @role.description %></p>


<ul>
  <li>
    <%= link_to "Edit", edit_role_path(@role) %>
  </li>
  <li>
    <%= link_to "Delete", role_path(@role),
                data: { 
                  turbo_method: :delete,
                  confirm: "Are you sure?"
                  } %>
  </li>
  <li>
    <%= link_to "Back", roles_path %>
  </li>
</ul>
